nav > ul{

    display: flex;
    justify-content: center;
    
}

nav > ul > li{
    list-style: none; 
}

 nav li > a{
    text-decoration: none;
    color: black;
    margin: 5px;
    padding: 10px;
    font-size: 18px; 
    font-weight: bold;
    
}

nav li > a:hover{
    opacity: 10.1;
    background-color:chartreuse;
    
}
 

/* nasted gropdown menu */

nav li .dropdown{
    display: none;
    margin-top: 9px;
    position: absolute;
   

}

.dropdown li{
    list-style: none;
    padding: 5px 5px;
    background-color: gainsboro;
    
}


nav li:hover > .dropdown{
    display: block;
    

}

